<nav>
  <ul>
    <li>
      <a data-cy="home-logo-link" routerLink="video"
        ><img
          class="logo"
          src="https://i.pinimg.com/originals/c8/c6/e4/c8c6e4ccbe0bec0c89a098171222cedf.png"
          alt="logo"
      /></a>
    </li>
    <li><a data-cy="video-link" routerLink="video">Highlight Reel</a></li>
    <li><a data-cy="update-link" routerLink="update">Update Your Details</a></li>
    <li>
      <a href="assets/documentation/state-docs.docx" target="_blank"
        >Documentation</a
      >
    </li>
  </ul>
</nav>
