<details data-cy="details-element">
  <summary data-cy="summary-element">
    Existing Details for {{ initialUserDetail.firstName }}
  </summary>
  <div class="details" data-cy="details-card">
    <p><small>Forename:</small> {{ initialUserDetail.firstName }}</p>
    <p><small>Middle Names:</small> {{ initialUserDetail.middleNames }}</p>
    <p><small>Surname:</small> {{ initialUserDetail.surName }}</p>
    <p><small>Address:</small> {{ initialUserDetail.address }}</p>
    <p><small>Job Role:</small> {{ initialUserDetail.jobRole }}</p>
  </div>
</details>
