@mixin big-text {
  font-size: large;
}

@mixin medium-text {
  font-size: medium;
}

@mixin small-text {
  font-size: small;
}

@mixin body-font {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@mixin header-font {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
}
