@import "../_mixins/buttons";
@import "../color";

button {
  @include button;

  &:disabled {
    background-color: $red-translucent;
    color: $red;
  }
}

.submit {
  @include construct-button;
}

.cancel {
  @include destruct-button;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
}
