$white: rgb(255, 255, 255);
$translucent: rgba(255, 255, 255, 0.7);
$off-white: rgb(240, 240, 240);
$purple: rgb(52, 17, 81);
$green-grey: rgba(107, 124, 102, 1);
$black: rgba(35, 31, 32, 1);
$red: rgba(229, 50, 34, 1);
$red-translucent: rgba(110, 24, 16, 0.7);
$yellow: rgba(231, 180, 89, 1);
$navy: rgb(0, 0, 128);
